.tnsQuery table {
  border-collapse: collapse;
  border-spacing: 2px 2px;
  font-size: 14px;
  line-height: 1em;
}

.tnsQuery thead tr {
  /* background: rgba(29, 80, 120, 0.9); */
  background: rgba(0, 0, 0, 0.9);
}

.tnsQuery th {
  padding: 10px 14px 10px 14px;
  text-align: center;
  color: #eee;
}

.tnsQuery tbody tr:nth-child(even) {
  /* background-color: rgba(50, 50, 50, 0.8); */
  background-color: rgba(0, 0, 0, 0.8);
}

.tnsQuery tbody tr:nth-child(odd) {
  /* background-color: rgba(90, 90, 90, 0.8); */
  background-color: rgba(0, 0, 0, 0.8);
}

.tnsQuery td {
  padding: 10px 14px 10px 14px;
  text-align: left;
  color: #ccc;
}

.tnsQuery td.right {
  text-align: right;
}

.tnsQuery td.left {
  text-align: left;
}

.tnsQuery td.center {
  text-align: center;
}
